body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Serif', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Space Mono', monospace;
    font-family: 'Work Sans', sans-serif;
}
main{
    max-width: 1280px;
    margin: 50px auto;
}

/* Header section */
header{
    background-image: url('../images/Circle\ design.svg');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 450px;
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-title{
    color: #3A3A3A;
    font-size: 24px;
}
nav ul{
    display: flex;
}
nav li{
    list-style: none;
    font-size: 1rem;
    margin-left: 34px;
    font-weight: 600;
}
nav li a{
    text-decoration: none;
}

/* header-sec2 */
.journey-section{
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
}
.journey-title{
    color: #3A3A3A;
    font-size: 3.1rem;
    width: 700;
}
.journey-desc{
    color: #3A3A3A;
    font-size: 1rem;
}
.btn-primary{
    background-color: #E02C6D;
    border-radius: 40px;
    border: none;
    color: #FFF;
    padding: 10px 24px;
}
.journey-section img{
    width: 400px;   
}

/* Website Section */
.website{
    display: flex;
    justify-content: center;
    margin-top: 90px;
}
.web{
    margin-left: 60px;
}

/* Website Section end */

/* Popular Collection section */
.popular-section{
    margin-top: 100px;
}
.popular-img{
    display: grid;
    justify-content: center;     
}
.popular-title{
    margin-bottom: 30px;
    text-align: center;
    color: #3A3A3A;
    font-size: 28px;
}
.popular-img-all{
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}
.img-section{
    padding: 15px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}
.img-title{
    margin-bottom: 6px;
    margin-top: 16px;
    color: #18191F;
    font-size: 28px;
}
.img-price{
    margin-top: 0;
    margin-bottom: 6px;
    color: rgba(0, 0, 0, 0.87);
    font-size: 28px;
}
.img-desc{
    margin-top: 0;
    color: var(--gray-50, #787885);
    font-size: 14px;
}
.popular-img a{
    text-align: right;
    text-decoration: none;
    color: rgba(224, 44, 109, 0.87);
    font-size: 16px;
}
/* Popular Collection section End */
/* Feature Products section */

.feature-section{
    margin-top: 110px;
    display: flex;
    justify-content: center;
}
.feature-product{
    margin-left: 95px;
}
.feature-title{
    margin-bottom: 10px;
    color: #0A0826;
    font-size: 38px;
}
.feature-desc{
    color: #6C6C6C;
    font-size: 16px;
}
/* Feature Products section end */

/* Footer Section */

footer{
    margin-top: 100px;
    background-color: #0A0826;
    height: 239px;
}
.footer-section{
    padding-top: 50px;
    text-align: center;
}
.footer-title{
    color: #FFF;
    font-size: 1.5rem;
}
.footer-desc{
    color: var(--text-gray-300, #D9DBE1);
    font-size: 0.9rem;
}

/* Responsive Section */

/* Mobile */
@media screen and (max-width:576px) {
    .header, 
    .popular-img-all,
    .feature-section{
        flex-direction: column;
    }
    body{
        margin: 20px auto;
    }
    header{
        background-position: left;
        background-size: auto;
    }
    nav ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .journey-section{
        text-align: center;
        flex-direction: column-reverse;
        margin: 20px;
    }
    .journey-desc{
        width: 100%;
    }
    .journey-section img{
        margin-top: 100px;
        margin-bottom: 45px;  
    }
    .website{
        margin: 50px 20px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .web{
        margin-left: 8px;
    }
    .feature-product,
    .feature-section img{
        margin: 20px;
    }
}
  

/* Tablet */
@media screen and (min-width:576px) and (max-width:992px) {
    .header,
    .feature-section{
        flex-direction: column;
    }
    .journey-section{
        margin: 25px;
    }
    header{
        background-size: auto;
    }
    .website{
        margin: 50px 20px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .popular-img-all{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .feature-product,
    .feature-section img{
        margin: 20px;
    }
}